:root {
  --main-bg-color: #fafafa;
  --main-bg-darker-color: #eaeaea;
  --main-dark-color: #8a8a8a;
  --main-darker-color: #4a4a4a;
  --main-light-color: #dc2f02;
  /* --main-light-color: #f94144; */
}

html {
  height: 100%;
  background-color: var(--main-bg-color);
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

#app {
  flex: 1;
  display: flex;
  flex-direction: column;
}



.page-title {
  padding-left: 0.5em;
}

hr {
  height: 1px;
  margin: 1em 0em;
  background-color: var(--main-bg-darker-color);
}

.nav-item {
  margin: 0em 1em;
  font-size: 1.1em;
}

.nav-item a {
  color: var(--main-dark-color);
}

.nav-item a:hover {
  text-decoration: underline;
  color: var(--main-darker-color);
}


.avatar {
  padding: 0.5em;
}

.name {
  margin: 0.5em 0em;
  font-size: 1.5em;
  font-weight: bolder;
}

.slogan {
  margin: 0.5em 0em 1em 0em;
  font-size: 1.1em;
  color: var(--main-dark-color);
}

.icon-link {
  margin: 0em 0.6em;
}

.icon-link a {
  color: var(--main-darker-color);
}

.icon-link a:hover {
  color: var(--main-light-color);
}


.about {
  padding-left: 2em;
  font-size: 1em;
  text-align: justify;
}

.about li {
  font-size: 0.95em;
}

.about a {
  color: var(--main-light-color);
  text-decoration: underline;
}

.about a:hover {
  color: var(--main-light-color);
  text-decoration: none;
}


.foot {
  margin-top: auto;
  font-size: 0.9em;
  padding: 3em 0;
  background-color: var(--main-bg-color);
}

.foot p {
  color: var(--main-dark-color);
}

.foot a {
  color: var(--main-dark-color);
  text-decoration: underline;
}

.foot a:hover {
  color: var(--main-darker-color);
  text-decoration: none;
}



.p-item .p-title {
  margin-bottom: 0.5em;
  font-size: 1.15em;
  font-weight: bold;
  line-height: 1.2;
}

.p-item .p-publisher {
  margin-bottom: 0.5em;
  font-size: 0.95em;
  font-weight: bold;
  font-style: italic;
  color: var(--main-darker-color);
}

.p-item .p-author {
  margin-bottom: 0.5em;
  font-size: 1em;
  font-weight: normal;
  color: var(--main-darker-color);
}

.p-item .p-author a {
  color: var(--main-dark-color);
}

.p-item .p-author a:hover {
  color: var(--main-dark-color);
  text-decoration: underline;
}

.p-item .p-link a {
  color: var(--main-light-color);
  text-decoration: none;
}

.p-item .p-link a:hover {
  text-decoration: underline;
}
